* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #C4DBCB;
    overflow-x: hidden;
}

/* Navigation Bar Section */

.navBar {
    height: 100px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.navBarPadding {
    height: 80px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.navBarLeft {
    height: 80px;
    width: 50%;
    position: relative;
    float: left;
}

.navBarLeft img {
    height: 80px;
    width: auto;
}

.navBarRight {
    height: 80px;
    width: 50%;
    position: relative;
    float: left;
}

.navBarRightPadding {
    height: 40px;
    width: 100%;
    position: relative;
    padding-top: 30px;
    float: right;
}

.navBarRight a {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 20px;
    float: right;
}

/* Introduction Section */

.introduction {
    height: 660px;
    width: 100%;
    position: relative;
    color: #181818;
    text-align: center;
}

.introductionPadding {
    height: 300px;
    width: 60%;
    position: relative;
    margin: auto;
    padding-top: 250px;
}

.introductionText h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.introductionText h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.introductionText p {
    font-family: BenchNine;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.introArt img {
    height: 500px;
    width: auto;
    position: absolute;
    bottom: -5%;
    right: 0%;
    z-index: -1;
}

/* Goals Section */

.goals {
    height: 400px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.goalsPadding {
    height: 300px;
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

.goalsLeft {
    height: 300px;
    width: 30%;
    position: relative;
    float: left;
}

.goalsLeft img {
    height: 300px;
    width: auto;
}

.goalsRight {
    height: 300px;
    width: 60%;
    position: relative;
    float: left;
    padding-left: 10%;
}

.goalsRight .goalsHeader {
    height: 45px;
    width: 100%;
    position: relative;
    padding-top: 80px;
}

.goalsRight .goalsHeader h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
}

.goalLine {
    height: 3px;
    width: 95%;
    background: #ffffff;
    float: left;
}

.goalsRight .goalsSubtitle {
    height: 100px;
    width: 100%;
    position: relative;
    padding-top: 20px;
}

.goalsRight .goalsSubtitle h3 {
    font-family: BenchNine;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

/* Quote Section */

.quote {
    height: 500px;
    width: 100%;
    position: relative;
    color: #181818;
    text-align: center;
}

.quotePadding {
    height: 300px;
    width: 35%;
    position: relative;
    margin: auto;
    padding-top: 200px;
}

.quotePaddingShorter {
    height: 380px;
    width: 35%;
    position: relative;
    margin: auto;
    padding-top: 120px;
}

.quoteText h2 {
    font-family: BenchNine;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 54px;
}

.quoteArt img {
    height: 500px;
    width: auto;
    position: absolute;
    bottom: -5%;
    right: 0%;
    z-index: -1;
}

/* Shop Section */

.shop {
    height: 1720px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background-color: #181818;
    z-index: -2;
}

.shopPadding {
    height: 1720px;
    width: 100%;
    position: relative;
    margin: auto;
}

.shopLevel {
    height: 430px;
    width: 100%;
    position: relative;
}

.shopSection {
    height: 430px;
    width: 70%;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}

.shopTitle h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
}

.shopDesc h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

.shopArt img {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: -1;
}

.shopShadow {
    height: 200px;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    top: 0%;
    left: 0%;
    opacity: 45%;
}

.shopShadowLower {
    height: 150px;
    width: 100%;
    position: absolute;
    background: linear-gradient(360deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    bottom: 0%;
    right: 0%;
    opacity: 45%;
}

/* Tables are only used for the shop section, the <th> is used for 100% width
sections while the <td> is used for the 50% width sections */

table {
    height: 600px;
    width: 100%;
    position: relative;
    border-collapse:collapse;
}

th {
    height: 300px;
    width: 100%;
}

td {
    height: 300px;
    width: 50%;
}

/* Gallery Section */

.gallery {
    height: 850px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.galleryPadding {
    height: 850px;
    width: 80%;
    position: relative;
    margin: auto;
}

.galleryLevel {
    height: 350px;
    width: 100%;
    position: relative;
}

.gallerySection {
    height: 350px;
    width: 25%;
    position: relative;
    float: left;
}

.gallerySectionPadding {
    height: 300px;
    width: 80%;
    position: relative;
    margin: auto;
    text-align: center;
}

.gallerySectionArt {
    height: 220px;
    width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.gallerySectionArt img {
    height: 220px;
    width: auto;
    position: relative;
}

.gallerySectionDesc {
    height: 75px;
    width: 100%;
    position: relative;
    padding-top: 15px;
}

.gallerySectionDesc h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 10px;
}

.gallerySectionDesc p {
    font-family: BenchNine;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.galleryLine {
    height: 3px;
    width: 100%;
    background: #ffffff;
    float: left;
    margin-bottom: 40px;
}

/* Contact Section */

.contact {
    height: 850px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.contactPadding {
    height: 850px;
    width: 70%;
    position: relative;
    margin: auto;
}

.contactLevel1 {
    height: 200px;
    width: 100%;
    position: relative;
}

.contactSection {
    height: 150px;
    width: 33%;
    position: relative;
    float: right;
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
}

.contactSectionPic {
    height: 150px;
    width: 30%;
    position: relative;
    float: left;
}

.contactSectionDesc{
    height: 150px;
    width: 60%;
    position: relative;
    float: left;
    padding-top: 35px;
    padding-left: 10px;
}

.contactSectionDesc p {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.contactSectionPic img {
    height: 100px;
    width: auto;
    position: relative;
}

.contactLevel2 {
    height: 200px;
    width: 100%;
    position: relative;
}

.contactLevel2Section {
    height: 150px;
    width: 90%;
    position: relative;
    margin: auto;
}

.contactLevel2Pic {
    height: 150px;
    width: 30%;
    position: relative;
    float: left;
}

.contactLevel2Pic img {
    height: 100%;
    width: auto;
    position: relative;
}

.contactLevel2Desc {
    height: 150px;
    width: 60%;
    position: relative;
    float: left;
}

.contactLevel2Desc .contactLeft {
    height: 120px;
    width: 50%;
    position: relative;
    float: left;
    padding-top: 20px;
}

.contactLevel2Desc .contactRight {
    height: 100px;
    width: 50%;
    position: relative;
    float: left;
    padding-top: 50px;
    text-align: center;
}

.contactLevel2Desc p {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
}

.contactLevel3 {
    height: 400px;
    width: 100%;
    position: relative;
}

.contactLevel3Section {
    height: 350px;
    width: 90%;
    position: relative;
    margin: auto;
    background: #cccccc;
}

/* News Section */

.news {
    height: 900px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.newsPadding {
    height: 900px;
    width: 70%;
    position: relative;
    margin: auto;
}

.newsSection {
    height: 300px;
    width: 100%;
    position: relative;
}

.newsSectionPadding {
    height: 250px;
    width: 80%;
    position: relative;
    margin: auto;
    padding-top: 50px;
}

.newsLeft {
    height: 250px;
    width: 30%;
    position: relative;
    float: left;
}

.newsLeft img {
    height: 200px;
    width: auto;
}

.newsRight {
    height: 250px;
    width: 70%;
    position: relative;
    float: left;
}

.newsRightHeader {
    height: 50px;
    width: 100%;
    position: relative;
    padding-top: 15px;
}

.newsRightHeader h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
}

.newsRightSubtitle {
    height: 150px;
    width: 100%;
    position: relative;
}

.newsRightSubtitle p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.newsLine {
    height: 3px;
    width: 95%;
    background: #ffffff;
    float: left;
    margin-top: 20px;
}

/* Video Section */

.video {
    height: 800px;
    width: 100%;
    position: relative;
    background: #181818;
}

.videoPadding {
    height: 800px;
    width: 80%;
    position: relative;
    margin: auto;
}

.videoBorder {
    height: 800px;
    width: 70%;
    position: relative;
    margin: auto;
}

.videoSection {
    height: 600px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.videoSectionDesc {
    height: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
}

.videoSectionDesc h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
}

.videoSectionDesc p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
}

/* Footer Section */

.footer {
    height: 100px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
    text-decoration: none;
}

.footer h2 {
    font-family: Raleway;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding-top: 30px;
}

/* Intersection Section */

.intersectionSize1 {
    height: 200px;
    width: 100%;
    position: relative;
}

.intersectionSize2 {
    height: 75px;
    width: 100%;
    position: relative;
}

.intersectionSize3 {
    height: 50px;
    width: 100%;
    position: relative;
}

/* Button Section */

.styleButton {
    width: auto;
    height: 38px;
    text-align: center;
    padding-top: 20px;
}

.buttonLink {
    width: 170px;
    height: 38px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;

    padding: 5px 20px;

    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.buttonLinkTitle {
    width: 170px;
    height: 38px;
    border: 2px solid #181818;
    box-sizing: border-box;
    border-radius: 6px;

    padding: 5px 20px;

    text-decoration: none;
    font-family: Raleway;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #181818;
}

/* Fade-in*/

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

/* Title Section */

.title {
    height: 100px;
    width: 100%;
    position: relative;
    background-color: #181818;
    color: #ffffff;
}

.titlePadding {
    height: 100px;
    width: 80%;
    position: relative;
    margin: auto;
}

.titlePadding .titleDesc {
    height: 100px;
    width: 40%;
    position: relative;
    float: left;
}

.titlePadding .titleDesc h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 88px;
    padding-top: 5px;
}

.titlePadding .titleArt {
    height: 100px;
    width: 60%;
    position: relative;
    float: left;
}

.titlePadding .titleArt img {
    height: 150px;
    width: auto;
    position: absolute;
    right: 0%;
    z-index: 1;
}

/* Secret Contact Animation */

.contactSecret {
    height: 500px;
    width: auto;
    position: absolute;
    top: 55%;
    right: -100%;
    transition: right 1000ms linear;
    z-index: 3;
}

.contactSecret img {
    height: 500px;
    width: auto;
}

.contactTransition {
    right: 0%;
}

.contactShade {
    height: 850px;
    width: 100%;
    position: absolute;
    top: 0%;
    right: -100%;
    background: #181818;
    z-index: 2;
    opacity: 0;
}

.contactShadeTransition {
    right: 0%;
}

/* Extras */

.thickerFont {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
}

.thickerFont2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

.depressedFont {
    font-family: Raleway;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}
