* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #E9E5DC;
    overflow-x: hidden;
}

/* Fixed Background */
.backGroundFixed {
    width: 100%;
    height: auto;
    position: fixed;

    top: 0%;
    height: 0%;
    z-index: -4;
}

/* Header Section */
.navBar {
    height: 100px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.navBarPadding {
    height: 80px;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-left: 10%;
}

/* logo Section */
.navBarLeft {
    height: 80px;
    width: 20%;
    position: relative;
    float: left;
}

.navBarLeftLogo {
    height: 80px;
    width: auto;
    margin: auto;
    position: relative;
}

.navBarLeftLogo img {
    height: 80px;
    width: auto;
}

/* Middle Section */
.navBarCenter {
    height: 80px;
    width: 0.5%;
    position: relative;
    float: left;
}

/* Additional Links Section */
.navBarRight {
    height: 80px;
    width: 520px;
    position: relative;
    float: right;
}

.dropDown {
    height: 80px;
    width: 80px;
    float: right;
    padding-right: 50px;
    display: none;
}

.dropDownButton {
    position: relative;
    float: left;
    padding-top: 22.5px;
    cursor: pointer;
}

.dropDownButtonBorder {
    height: 40px;
    width: 100px;
    transition: 0.2s;

    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
}

.dropDownButtonBorder:hover {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
}

.dropDownButtonBorder h3 {
    padding-left: 27.5px;
    padding-top: 10px;
}

.dropDownSection h3 {
    padding-left: 20px;
    padding-top: 5px;
}

.dropDownContent {
    display: none;
}

.navBarLink {
    height: 40px;
    width: 125px;
    position: relative;
    float: left;
    padding-top: 22.5px;
    padding-left: 20px;
    text-align: center;
}

.navBarLink h3 {
    padding-top: 10px;
}

.navBarButton {
    height: 40px;
    width: 100%;
    transition: 0.2s;

    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
}

.navBarButton:hover {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
}

/* Navbar Smaller Test */

@media only screen and (max-width: 825px) {
  .navBarRight {
      height: 80px;
      width: 100px;
      position: relative;
      float: right;
  }

  .navBarLink {
      display: none;
  }

  .dropDown {
      display: block;
      position: relative;
      z-index: 1;
  }

  .dropDownContent.start {
      height: 80px;
      width: 100px;
      display: block;
  }

  .dropDownSection {
      height: 30px;
      width: 100%;
      padding-top: 5px;
      background-color: #181818;
      transition: 0.3s;
      z-index: 1;
  }

  .dropDownSection:hover {
      background-color: #252525;
  }
}

/* Navbar Smaller Test End */

/* Menu Section */
.menu {
    height: 660px;
    width: 100%;
    position: relative;
    color: #181818;
}

.menuTitle {
    height: 200px;
    width: 100%;
    float: left;
    position: relative;
}

.menuTitle h1 {
    position: absolute;
    top: 90%;
    left: 10%;
}

.menuDesc {
    height: 320px;
    width: 100%;
    float: left;
    position: relative;
}

.menuDescPadding {
    height: 200px;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 10.5%;
    float: left;
}

.menuArt {
    height: 80px;
    width: 100%;
    float: left;
    position: relative;
    opacity: 1;
    padding-top: 60px;
    z-index: -3;
}

.menuArt img {
    height: 600px;
    width: auto;
    position: absolute;
    z-index: -3;

    bottom: 0%;
    right: 0%;
}

/* Menu Smaller Test (Temporary) */
@media only screen and (max-width: 825px) {
  .menuArt img {
      height: 600px;
      width: auto;
      position: absolute;
      z-index: -3;

      bottom: 0%;
      right: 0%;
      opacity: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .menuDescPadding {
      height: 200px;
      width: 80%;
      position: absolute;
      top: 40%;
      left: 10.5%;
      margin: auto;
  }

  .menu h1 {
      font-family: Heebo;
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 72px;
  } /* Temporary Fix */
}

/* Menu Button (Portal Link)*/
  .menuDescButton {
      height: 30px;
      width: 120px;
      background-color: #181818;
      color: #ffffff;
      margin-top: 10px;
      text-align: center;
      display: inline-block;

      border: 1px solid transparent;
      box-sizing: border-box;
      border-radius: 6px;
  }

  .menuDescButton h6 {
      padding-top: 2.5px;
      padding-left: 2.5px;
  }

/* Portfolio Web */
.portW {
    height: 400px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.portWPadding {
    height: 400px;
    width: 80%;
    position: relative;
    margin: auto;
}

.portWTitle {
    height: 30px;
    width: 100%;
    position: relative;
    padding-top: 25px;
}

.portWDesc {
    height: 40px;
    width: 100%;
    position: relative;
}

/* Portfolio Floor */
.portWContent {
    height: 290px;
    width: 100%;
    position: relative;
}

.portWFloor {
    height: 290px;
    width: 100%;
    position: relative;
}

/* Portfolio Floor Single Webs */
.portWFloorSet {
    height: 290px;
    width: 33%;
    position: relative;
    float: left;
}

.portWContent h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.portWButtonSet {
    height: 280px;
    width: 95%;
    position: relative;
    margin: auto;
    padding-top: 10px;
    transition: 0.3s;

    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
}

.portWButtonSet:hover {
    background-color: #252525;
}

.portWArtIn {
    height: 150px;
    width: 100%;
    position: relative;
    text-align: center;
}

.portWArtIn img {
    height: 150px;
    width: auto;
    position: relative;

    border: 3px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
}

.portWTitleIn {
    height: 30px;
    width: auto;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.portWDescIn {
    height: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

/* Portfolio Visual Section Version */

.portV {
    height: 430px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.portVPadding {
    height: 430px;
    width: 80%;
    position: relative;
    margin: auto;
}

.portVTitle {
    height: 30px;
    width: 100%;
    position: relative;
    padding-top: 25px;
}

.portVDesc {
    height: 40px;
    width: 100%;
    position: relative;
}

/* Portfolio Floor */
.portVContent {
    height: 310px;
    width: 100%;
    position: relative;
}

.portVFloor {
    height: 310px;
    width: 100%;
    position: relative;
}

/* Portfolio Floor Single Webs */
.portVFloorSet {
    height: 310px;
    width: 33%;
    position: relative;
    float: left;
}

.portVContent h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.portVButtonSet {
    height: 310px;
    width: 95%;
    position: relative;
    margin: auto;
    padding-top: 10px;
    transition: 0.3s;

    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
}

.portVButtonSet:hover {
    background-color: #252525;
}

.portVDescIn{
    height: 50px;
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

/* Setting with Smaller Screen */

@media only screen and (max-width: 1180px) {
  .portW {
      height: 420px;
      width: 100%;
      position: relative;
      color: #ffffff;
      background: #181818;
  }

  .portWContent {
      height: 310px;
      width: 100%;
      position: relative;
  }

  .portWFloor {
      height: 310px;
      width: 100%;
      position: relative;
  }

  .portWFloorSet {
      height: 310px;
      width: 33%;
      position: relative;
      float: left;
  }

  .portWButtonSet {
      height: 310px;
      width: 95%;
      position: relative;
      margin: auto;
      padding-top: 10px;
      transition: 0.3s;

      border: 3px solid transparent;
      box-sizing: border-box;
      border-radius: 6px;
  }

  .portWDescIn {
      height: 50px;
      width: 80%;
      margin: auto;
      text-align: center;
      position: relative;
      padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1180px) {
  .portV {
      height: 450px;
      width: 100%;
      position: relative;
      color: #ffffff;
      background: #181818;
  }

  .portVContent {
      height: 340px;
      width: 100%;
      position: relative;
  }

  .portVFloor {
      height: 340px;
      width: 100%;
      position: relative;
  }

  .portVFloorSet {
      height: 340px;
      width: 33%;
      position: relative;
      float: left;
  }

  .portVButtonSet {
      height: 340px;
      width: 95%;
      position: relative;
      margin: auto;
      padding-top: 10px;
      transition: 0.3s;

      border: 3px solid transparent;
      box-sizing: border-box;
      border-radius: 6px;
  }

  .portVDescIn {
      height: 60px;
      width: 80%;
      margin: auto;
      text-align: center;
      position: relative;
      padding-bottom: 20px;
  }
}

@media only screen and (max-width: 825px) {
  .portW {
      height: 980px;
      width: 100%;
      position: relative;
      color: #ffffff;
      background: #181818;
  }

  .portWContent {
      height: 870px;
      width: 100%;
      position: relative;
  }

  .portWFloor {
      height: 870px;
      width: 100%;
      position: relative;
  }

  .portWFloorSet {
      height: 290px;
      width: 100%;
      position: relative;
      float: left;
  }

  .portWButtonSet {
      height: 280px;
      width: 95%;
      position: relative;
      margin: auto;
      padding-top: 10px;
      transition: 0.3s;

      border: 3px solid transparent;
      box-sizing: border-box;
      border-radius: 6px;
  }

  .portWDescIn {
      height: 30px;
      width: 80%;
      margin: auto;
      text-align: center;
      position: relative;
      padding-bottom: 20px;
  }
}

@media only screen and (max-width: 825px) {
  .portV {
      height: 1040px;
      width: 100%;
      position: relative;
      color: #ffffff;
      background: #181818;
  }

  .portVContent {
      height: 930px;
      width: 100%;
      position: relative;
  }

  .portVFloor {
      height: 930px;
      width: 100%;
      position: relative;
  }

  .portVFloorSet {
      height: 310px;
      width: 100%;
      position: relative;
      float: left;
  }

  .portVButtonSet {
      height: 310px;
      width: 95%;
      position: relative;
      margin: auto;
      padding-top: 10px;
      transition: 0.3s;

      border: 3px solid transparent;
      box-sizing: border-box;
      border-radius: 6px;
  }

  .portVDescIn {
      height: 60px;
      width: 80%;
      margin: auto;
      text-align: center;
      position: relative;
      padding-bottom: 10px;
  }
}
/* Small Screen Setting End */

/* Middle Opposite Section */
.portC {
    height: 600px;
    width: 100%;
    position: relative;
    color: #181818;
}

.portCPadding {
    height: 600px;
    width: 80%;
    position: relative;
    margin: auto;
}

.portCArt {
    height: 600px;
    width: 30%;
    position: relative;
    float: left;
}

.portCContent {
    height: 600px;
    width: 70%;
    position: relative;
    float: left;
}

.portCTitle {
    height: 30px;
    width: 100%;
    position: relative;
    padding-top: 120px;
}

.portCDesc {
    width: 40px;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.portCFloor {
    height: 300px;
    width: 90%;
    position: relative;
    float: left;
}

.portCFloorSet {
    height: 300px;
    width: 50%;
    position: relative;
    float: left;
}

.portCButtonSet {
    height: 280px;
    width: 95%;
    position: relative;
    margin: auto;
    padding-top: 10px;
    transition: 0.3s;
    color: #181818;

    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
}

.portCButtonSet:hover {
    background-color: rgba(24, 24, 24, 0.5);
    color: #ffffff;
}

.portCContent h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.portCArt img {
    height: 600px;
    width: auto;
    position: absolute;
    z-index: -3;

    bottom: 0%;
    right: 0%;
}

.portCArtIn {
    height: 150px;
    width: 100%;
    position: relative;
    text-align: center;
}

.portCArtIn img {
    height: 150px;
    width: auto;
    position: relative;

    border: 3px solid #181818;
    box-sizing: border-box;
    border-radius: 6px;
}

@media only screen and (max-width: 825px) {
  .portCArt {
      display: none;
  }

  .portC {
      height: 900px;
      width: 100%;
      position: relative;
      color: #181818;
  }

  .portCPadding {
      height: 900px;
      width: 80%;
      position: relative;
      margin: auto;
  }

  .portCContent {
      height: 900px;
      width: 100%;
      position: relative;
      float: left;
  }

  .portCFloor {
      height: 300px;
      width: 100%;
      position: relative;
      float: left;
  }

  .portCFloorSet {
      height: 300px;
      width: 100%;
      position: relative;
      float: left;
  }
}

/* Padding Section */
.paddingSec {
    height: 100px;
    width: 100%;
    position: relative;
}

/* Report Section */
.report {
    height: 2000px;
    width: 100%;
    position: relative;
    color: #ffffff;
}

.reportTitle {
    height: 200px;
    width: 100%;
    position: relative;
    background: #181818;
}

.reportTitlePadding {
    height: 200px;
    width: 70%;
    position: relative;
    margin: auto;
}

.reportTitleIcon {
    height: 175px;
    width: 200px;
    position: relative;
    float: left;
    padding-top: 25px;
    text-align: center;
}

.reportTitleIcon img {
    height: 150px;
    width: auto;
    position: relative;

    border: 3px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
}

.reportTitleDesc {
    height: 140px;
    width: 70%;
    position: relative;
    float: left;
    padding-top: 60px;
}

.reportTitleHead {
    height: 70px;
    width: 100%;
    position: relative;
}

.reportTitleSub {
    height: 70px;
    width: 100%;
    position: relative;
}

.reportTitleSub p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.reportTitle h1 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 64px;
}

.reportInfo {
    height: 1900px;
    width: 100%;
    position: relative;
}

.reportInfoPadding {
    height: inherit;
    width: 70%;
    position: relative;
    margin: auto;
}

.reportInfoDesc {
    height: inherit;
    width: 800px;
    position: relative;
    background-color: #141414;
    margin: auto;
}

.reportInfoDescIn {
    width: 720px;
    position: relative;
    margin: auto;
    text-align: left;
}

.reportWideImage {
    width: 100%;
    height: auto;
    position: relative;
}

.reportWideImage img {
    width: 100%;
    height: auto;
}

.reportWideSub {
    width: 80%;
    height: 40px;
    text-align: right;
    margin: auto;
}

/*H4 here is used for small Titles*/
.reportInfo h4 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800px;
    font-size: 24px;
    line-height: 32px;
}

/*H3 here is used for Information */
.reportInfo h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.reportInfo h6 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.reportInfoRepo {
    height: 50px;
    width: 100%;
}

@media only screen and (max-width: 1040px) {
  .reportTitlePadding {
      height: 200px;
      width: 100%;
      position: relative;
      margin: auto;
  }

  .reportInfoPadding {
      height: inherit;
      width: 100%;
      position: relative;
      margin: auto;
  }
}

@media only screen and (max-width: 825px) {
  .report {
      height: auto;
      width: 100%;
      position: relative;
      color: #ffffff;
      background-color: #141414;
  }

  .reportTitle {
      height: 130px;
      width: 100%;
      position: relative;
      background: #181818;
  }

  .reportInfoPadding {
      height: 130px;
      width: 70%;
      position: relative;
      margin: auto;
  }

  .reportTitleIcon {
    display: none;
  }

  .reportTitleDesc {
      height: auto;
      width: 90%;
      position: relative;
      float: left;
      padding-top: 20px;
      padding-left: 5%;
  }

  .reportTitleHead {
      height: auto;
      width: 100%;
      position: relative;
  }

  /* H1 Used for Welcome */
  .reportTitle h1 {
      font-family: Heebo;
      font-style: normal;
      font-weight: 800;
      font-size: 38px;
      line-height: 42px;
  }

  .reportInfoPadding {
      width: 100%;
      height: auto;
      position: relative;
      margin: auto;
  }

  .reportInfoDesc {
      height: auto;
      width: 100%;
      position: relative;
      background-color: #141414;
  }

  .reportInfoDescIn {
      width: 80%;
      position: relative;
      margin: auto;
      text-align: left;
  }
}

/* Footer */
.footer {
    height: 100px;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: #181818;
}

.footerDesc {
    height: 40px;
    width: 60%;
    margin: auto;
    position: relative;
    text-align: center;
    padding-top: 40px;
}

/* Little Details */
.lineSeperate {
    width: 70%;
    margin: auto;
    height: 3px;
    background-color: #ffffff;
}

.lineSeperateOpposite {
    width: 70%;
    margin: auto;
    height: 3px;
    background-color: #181818;
}

/* Font Collection */

/* H1 Used for Welcome */
h1 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 76px;
}

/* H2 Used for Titles */
h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
}

/* H3 Used for Desc */
h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

/* H4 Used for Title Desc */
h4 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

h5 {
    font-family: Heebo;
    font-style: normal;
    font-size: 22px;
    line-height: 24px;
}

h6 {
    font-family: Raleway;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: #ffffff;
}
