* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #8FE2CB;
}

/* Navigation Section */
.navBar {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #181818;
    color: #ffffff;
    font-family: 'Lacquer', sans-serif;
    font-size: 24px;
    line-height: 28px;
    z-index: 1;
}

.navBar .navBarPadding {
    padding-top: 10px;
}

.navBar .navBarLeft {
    width: 50%;
    float: left;
}

.navBarLeftBorder {
    width: 5%;
    height: 70px;
    float: left;
}

.navBarLeftContent {
    width: 95%;
    height: 70px;
    float: left;
}

.navBarLeftContent img {
    width: 300px;
    height: auto;
}

.navBar .navBarRight {
    width: 50%;
    float: left;
}

.navBarRightBorder {
    width: 40%;
    height: 50px;
    float: left;
}

.navBarRightContent {
    width: 60%;
    height: 50px;
    float: left;
    padding-top: 50px;
}

.navBarRight a {
    color: #ffffff;
    padding-right: 5%;
}

/* Intersection1 Section */
.intersectionSize1 {
    width: 100%;
    height: 100px;
    position: relative;
}

.intersectionSize2 {
    width: 100%;
    height: 200px;
    position: relative;
}

.intersectionSize3 {
    width: 100%;
    height: 50px;
    position: relative;
}

/* HomeMenu Section */
.menuHome {
    width: 100%;
    height: 650px;
    position: relative;
}

.menuHome .menuHomeBorder {
    width: 85%;
    height: 100%;
    margin: auto;
}

.menuHome .menuHomeWelcome {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
}

.menuHome .menuHomeWelcome h1 {
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}

.menuHome .menuHomeQuote{
    width: 100%;
    background: #181818;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuHome .menuHomeQuote h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
}

.menuHome .menuHomeContent{
    width: 100%;
    padding-top: 20px;
}

.menuHome .menuHomeContent p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.menuHome img {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;
}

/*Information Section */
.menuInfo {
    width: 100%;
    height: 400px;
    background-color: #202020;
    color: #ffffff;
    position: relative;
}

.menuInfo .menuInfoPadding {
    width: 100%;
    padding-top: 50px;
}

.menuInfo .menuInfoBorder {
    width: 70%;
    margin: auto;
}

.menuInfo .menuInfoHeader {
    width: 70%;
    height: 100px;
    margin: auto;
}

.menuInfoHeader h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    text-align: center;
}

.menuInfo .menuInfoContent {
    width: 70%;
    height: 200px;
    float: left;
    margin: auto;
    padding-top: 40px;
}

.menuInfoContent p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.menuInfoGraphic {
    width: 30%;
    height: 200px;
    float: left;
}

.menuInfoGraphic img {
    width: 400px;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 0%;
}

/* Information Section */
.footerHome {
    width: 100%;
    height: 100px;
    background-color: #181818;
    color: #ffffff;
    position: relative;
}

.footerHome .footerHomeContent {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

/* Shop Section */
.shopTitleSection {
    width: 100%;
    height: 100px;
    position: relative;
}

.shopTitleBorder {
    width: 70%;
    height: 100px;
    margin: auto;
}

.shopTitlePadding {
    width: 10%;
    height: 100px;
    float: left;
}

.shopTitleContent {
    width: 20%;
    height: 100px;
    float: left;
    background-color: #181818;
}

.shopTitleContent h1 {
    font-family: 'Lacquer', sans-serif;
    font-size: 64px;
    line-height: 75px;
    color: #ffffff;
    padding-left: 42.5px;
}

.shopTitleGraphic {
    width: 60%;
    height: 100px;
    float: left;
}

.shopTitleGraphic img {
    width: 200px;
    height: auto;
    position: absolute;
    right: 15%;
}

/* Catalog Section */
.catalogSection {
    width: 100%;
    height: 640px;
    position: relative;
    color: #ffffff;
}

.catalogSection .catalogSectionBorder {
    width: 70%;
    height: 640px;
    margin: auto;
    background-color: #202020;
}

.catalogSection1Floor {
    width: 100%;
    height: 320px;
}

.catalogSectionLeft {
    width: 33%;
    height: 320px;
    float: left;
}

.catalogSectionCenter {
    width: 33%;
    height: 320px;
    float: left;
}

.catalogSectionRight {
    width: 33%;
    height: 320px;
    float: left;
}

.catalogSectionGraphic {
    width: 100%;
    height: 200px;
}

.catalogSectionGraphic img {
    height: 200px;
    width: auto;
}

.catalogSectionTitle {
    width: 100%;
    height: 40px;
}

.catalogSectionTitle h2 {
    font-family: 'Lacquer', sans-serif;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 30px;
}

.catalogSectionDescription {
    width: 100%;
    height: 60px;
}

.catalogSectionDescription h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 30px;
}

.catalogSectionDescription p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
}

.catalogSection2Floor {
    width: 100%;
    height: 300px;
}

/* Catalog Text Section */
.catalogTextSection {
    width: 100%;
    height: 450px;
    position: relative;
}

.catalogTextSectionText {
    width: 70%;
    height: 250px;
    float: left;
    padding-top: 200px;
}

.catalogTextSectionText .catalogTextSectionLeft {
    width: 40%;
    height: 250px;
    float: left;
}

.catalogTextSectionText .catalogTextSectionQuote {
    width: 60%;
    height: 250px;
    float: left;
}

.catalogTextSectionQuote h2 {
    text-align: center;
}

.catalogTextSectionGraphic {
    width: 30%;
    height: 450px;
    float: left;
}

.catalogTextSectionGraphic img {
    width: 70%;
    height: auto;
    position: absolute;
    right: 0%;
    bottom: -22%;
    z-index: 1;
}

/* News Section */
.newsTitleSection {
    width: 100%;
    height: 100px;
    position: relative;
}

.newsTitleBorder {
    width: 70%;
    height: 100px;
    margin: auto;
}

.newsTitleContent {
    width: 20%;
    height: 100px;
    float: left;
    background-color: #181818;
}

.newsTitlePadding {
    width: 10%;
    height: 100px;
    float: left;
}

.newsTitleContent h1 {
    font-family: 'Lacquer', sans-serif;
    font-size: 64px;
    line-height: 75px;
    color: #ffffff;
    padding-left: 20px;
}

.newsTitleGraphic {
    width: 60%;
    height: 100px;
    float: left;
}

.newsTitleGraphic img {
    width: 40%;
    height: auto;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
}

/* News List Section */
.listSection {
    width: 100%;
    height: 600px;
    position: relative;
    color: #ffffff;
}

.listSection .listSectionBorder {
    width: 70%;
    height: 600px;
    margin: auto;
    background-color: #202020;
}

.listNews {
    width: 100%;
    height: 200px;
}

.listNewsNumber {
    width: 15%;
    height: 200px;
    float: left;
}

.listNewsNumber h2 {
    font-family: 'Lacquer', sans-serif;
    font-size: 72px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.listNewsContent {
    width: 55%;
    height: 200px;
    float: left;
}

.listNewsHeader {
    width: 100%;
    height: 50px;
    padding-top: 30px;
}

.listNewsHeader h2 {
    font-family: 'Lacquer', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.listNewsText {
    width: 100%;
    height: 120px;
}

.listNewsImages {
    width: 30%;
    height: 200px;
    float: left;
}

.listNewsImages img {
    width: 50%;
    height: auto;
    padding-left: 60px;
    padding-top: 10px;
}

/* Contact Section */
.contactTitleSection {
    width: 100%;
    height: 200px;
    position: relative;
}

.contactTitleBorder {
    width: 70%;
    height: 200px;
    margin: auto;
}

.contactTitleGraphic {
    width: 30%;
    height: 200px;
    margin: auto;
}

.contactTitleGraphic img {
    width: auto;
    height: 200px;
}

/* Contact Information Section */
.contactInfoSection {
    width: 100%;
    height: 400px;
    position: relative;
    color: #ffffff;
    background-color: #181818;
}

.contactInfoBorder {
    width: 80%;
    height: 400px;
    margin: auto;
}

.contactInfoLink {
    width: 25%;
    height: 400px;
    float: left;
}

.contactInfoLinkBorder {
    width: 80%;
    height: 400px;
    margin: auto;
}

.contactInfoGraphic {
    width: 100%;
    height: 300px;
}

.contactInfoGraphic img {
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.contactInfoDesc {
    width: 100%;
    height: 70px;
}

.contactInfoDesc p {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.contactInfoDesc h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-top: 10px;
}

/* Contact Art Section */
.contactArt {
    width: 100%;
    height: 300px;
    position: relative;
}

.contactArt img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0%;
}

/* Fixed Parallax Background */
.backgroundSection {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1
}

.backgroundSection img {
    width: 100%;
    height: auto;
}
